#documentation
recursive-include docs/_build/html *

#demos
recursive-include misu/demos *

#tests
recursive-include misu/tests *

#cython file
include misu/engine.c
include misu/Makefile

#Misc
include CHANGES.txt
include LICENSE.txt
include README.md
include README.rst
